*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f4f7f1;
    color:#333;
    line-height:1.6;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 10%;
    background:#1b5e20;
    color:white;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.hero{
    height:90vh;
    background:linear-gradient(rgba(0,0,0,.5),
    rgba(0,0,0,.5)),
    url('https://images.unsplash.com/photo-1500937386664-56d1dfef3854?q=80&w=1600') center/cover;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero-content h1{
    font-size:3.5rem;
    margin-bottom:15px;
}

.hero-content p{
    max-width:700px;
    margin:auto;
    font-size:1.2rem;
}

button{
    margin-top:20px;
    padding:12px 25px;
    border:none;
    border-radius:5px;
    background:#4caf50;
    color:white;
    cursor:pointer;
    font-size:1rem;
    transition:0.3s;
}

button:hover{
    background:#2e7d32;
}

.container{
    padding:70px 10%;
}

.container h2{
    text-align:center;
    margin-bottom:30px;
    color:#1b5e20;
}

.cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;
}

.card{
    background:white;
    padding:25px;
    width:300px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.destaque{
    background:#e8f5e9;
}

.contador-container{
    display:flex;
    justify-content:center;
    gap:50px;
    flex-wrap:wrap;
}

.contador-box{
    text-align:center;
}

.contador{
    font-size:3rem;
    color:#2e7d32;
    font-weight:bold;
}

footer{
    background:#1b5e20;
    color:white;
    text-align:center;
    padding:20px;
}

@media(max-width:768px){

    nav{
        flex-direction:column;
        gap:15px;
    }

    nav ul{
        flex-wrap:wrap;
        justify-content:center;
    }

    .hero-content h1{
        font-size:2.2rem;
    }

    .cards{
        flex-direction:column;
        align-items:center;
    }
}
